@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Administration";
}

@section PageTitle{
    Administration
}
    <h3>Willkommen im Administrationsbereich.</h3>
    <p>Bitte wählen Sie aus im oberen Menü den Bereich den Sie verändern wollen.</p>
    <p>
        <ul>
            <li>
                <span class="list-heading">Blogs</span><br />
                <span class="list-content">Hier können Blogs angelegt werden, die dann weitere Artikel enthalten können.</span>
            </li>
            <li>
                <span class="list-heading">Seiten</span><br />
                <span class="list-content">Legen Sie neue Inhaltsseiten an und befüllen Sie diese mit Inhalt.</span>
            </li>
            <li>
                <span class="list-heading">Statische Seiten</span><br />
                <span class="list-content">Hier kann der Inhalt der festgelegten Seiten verändert werden.</span>
            </li>
            <li>
                <span class="list-heading">Menü</span><br />
                <span class="list-content">Erstellen Sie neue Menüeinträge, der verändern Sie die Reihenfolge der Einträge.</span>
            </li>
            <li>
                <span class="list-heading">Benutzer</span><br />
                <span class="list-content">Ändern Sie Ihr Passwort und Erstellen Sie neue Benutzer.</span>
            </li>
            <li>
                <span class="list-heading">Galerien</span><br />
                <span class="list-content">Erstellen Sie Fotoalben und generieren Sie Zugangscodes für diese.</span>
            </li>
        </ul>
    </p>